/* CSS Booki / Arnaud Dilax */

/* Police Raleway */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

/* General */

body  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1440px;
    width: 100%;
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
}


/* Header */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 69px;   
}

.header-logo {
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
}

header img { 
    width: 61px;
    height: 19px;
}

.header-menu {
    line-height: 16px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 69px;
}

nav li {
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 20px;
}


/* Contenu */

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
    gap: 35px;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.contenu {
    height: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    width: 100%;
}

.infoGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    isolation: isolate;
    height: 281px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    color: #000000
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


/* formulaire de recherche */

.search {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    margin: 49px 0px 10px;
}

.searchIcon {
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    align-self: flex-start;
    color: black;
}

.searchText {
    height: 47 px;
    font-weight: 700;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    justify-content: center;
    border: 1px solid #f2f2f2;
    color: black;
}

.searchButton {
    width: 130px;
    font-weight: 600;
    background-color: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
}

.searchButton:hover {
    background-color: #3586ff;
}

h3 {
    font-weight: 700;
    font-size: 17px;
    font-family: 'Raleway';
    font-style: normal;
    color: #000000
}


/* filtres */

.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: left;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.textFilter {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: left;
    padding: 0x 20px;
    margin-right: 20px;
}

.filterList {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: left;
    grid-gap: 10px;
}

.filter {
    display: flex;
    align-items: center;
    height: 46px;
    border: 2px solid #d9d9d9;
    margin-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    font-family: 'Raleway';
    font-weight: 700
}

.iconFilter {
    display: flex;
    justify-content: center;
    position: relative;
    right: 1px;
    height: 46px;
    background-color: #ffffff;
}

.iconFilter i {
    margin: auto;
    color: #0065FC;
    margin-right: 10px;
}

.filter:active {
    background-color: #deebff;
    color: #0065FC;
}

.filter:hover {
    background-color: #d9d9d9;
}

.filter:hover i {
    color: #0065fc;
}

.filter:hover .iconFilter {
    background-color: #d9d9d9;
}


/* Info */

.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.iconInfo i {
    width: auto;
    height: auto;
    font-size: 16;
    color: #0065FC;
    border: solid 1px #d9d9d9;
    border-radius: 50%;
    padding: 7px 11px 7px 11px;
    margin-right: 20px;
}


/*  Offres  */

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: top;
    width: 100%;
}

    /*  Offres Main  */

.offersMain {
    background-color: #F2F2F2;
    height: 611px;
    width: 61%;
    border-radius: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 10px;
}

.blocTitle {
    justify-content: space-between;
    align-items: baseline;
    margin-left: 15px;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    color: #000000
}

.blocMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    padding: 0px;
}

.cardMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 90%;
    height: 210px;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #e8e8e8, -5px 5px 5px #e8e8e8;
}

.cardMain-image {
    height: 108px;
    border-radius: 15px 15px 0 0;
}

.textZone {
    height: 83px;
    margin-left: 10px;
}

.content-notation {
    margin-left: 10px;
}

    /*  Offres Populaires (pop)  */

.offersPop {
    background-color: #F2F2F2;
    height: 611px;
    width: 34%;
    border-radius: 15px;
    margin-left: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blocTitle {
    padding: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.blocTitle i {
    font-size: 25px;
    color: #0065FC;
}

.blocPop {
    grid-gap: 10px;
    width: 100%;
    padding: 0px;
}

.cardPop {
    padding: 5px;
    background-color: white;
    width: 90%;
    height: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #e8e8e8, -5px 5px 5px #e8e8e8;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

.popCard-img {
    width: 30%;
    margin-right: 5px;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
    overflow: hidden;
}

.popCard-img img {
    width: 100%;
    height: 100%;
}

.popCard-content {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin-left: 5px;
    gap: 10px;
    padding: 5px;
    justify-content: space-between;
    align-items: top;
}

h3 {
    font-weight: 700;
    font-size: 17px;
    font-family: 'Raleway';
    font-style: normal;
    color: #000000
}

.popContent-label p {
    margin-top: 0px;
    align-items: bottom;
}

.content-notation {
    margin-left: 10px;
}

.cardPoP:hover {
    box-shadow: 5px 5px 5px #dddddd, -5px 5px 5px #dddddd;
    color: #0065fc;
    cursor: pointer;
}

.blocMain a, .blocPop a, section a {
    color: black;
    text-decoration: none;
}

.card a:hover {
    color: #0065FC;
    cursor: pointer;
    box-shadow: 5px 5px 5px #dddddd, -5px 5px 5px #dddddd;
}

.offersPop a:hover {
    color: #0065FC;
    cursor: pointer;
}

.offersMain a:hover {
    font-weight: 600;
    color: #0065FC;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #d9d9d9;
}


/*   Activité   */

.activite {
    margin-top: 10px;
    margin-bottom: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.titre-activite {
    width: 97%;
}

.bloc-activite {
    width: 97%;
    height: 439px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 15px;
}

.carte-activite {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e8e8e8, -5px 5px 5px #e8e8e8;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.image-activite {
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}

.legende-activite {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
    height: 50px;
    border-radius: 0px 0px 15px 15px;
}

.carte-activite:hover {
    color: #0065FC;
    cursor: pointer;
}

.bloc-activite:hover {
    color: #0065FC;
    cursor: pointer;
}


/* Footer */

footer {
    padding: 40px 20px 50px;
    background-color: #f2f2f2;
    width: 100%;
}

.bas-de-page {
    display: flex;
    flex-flow: row;
    display: flex;
    align-items: flex-start;
}

.a-propos {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.a-propos p {
    height: 22px;
    font-weight: 500;
    font-size: 17px;
    margin: 0px;
}

.nos-hebergements {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

.nos-hebergements p {
    height: 22px;
    font-weight: 500;
    font-size: 17px;
    margin: 0px;
}

.assistance {
    display: flex;
    flex-direction: column;
}

.assistance p {
    height: 22px;
    font-weight: 500;
    font-size: 17px;
    margin: 0px;
}

.assistance a, .nos-hebergements a, .a-propos a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: #0065FC;
}

